@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<div class="checkout-area">
    <div class="container container-default-2 custom-container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion" id="checkout-login-div">
                    <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">
                                Please login to proceed
                            </p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="email" name="login_email_chkout" id="login_email_chkout" placeholder="Email or Username">
                                </p>
                                <p class="form-row-last">
                                    <label>Password <span class="required">*</span></label>
                                    <input type="password" name="login_password_chkout" id="login_password_chkout" placeholder="Enter your Password">
                                </p>
                                <p class="form-row">
                                    <button class="btn obrien-button-2 primary-color" type="button" id="login_btn_chkout">Login</button>
                                </p>
                                <p class="lost-password"><a href="#">Lost your password?</a></p>
                            </form>
                        </div>
                    </div>
                    @*<h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input placeholder="Coupon code" type="text">
                                    <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                </p>
                            </form>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12" id="billing-address-div">
                <div class="coupon-accordion">
                    <h3>Billing Details? <span id="showBilling">Click here for Address</span></h3>
                    <div id="billing-details" class="coupon-content">
                        <div id="coupon-info">
                            <form action="#">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>First Name <span class="required">*</span></label>
                                                <input placeholder="" id="firstName" name="firstName" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Last Name <span class="required">*</span></label>
                                                <input placeholder="" id="lastName" name="lastName" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Address <span class="required">*</span></label>
                                                <input placeholder="Address" id="address" name="address" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Town / City <span class="required">*</span></label>
                                                <input type="text" id="city" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>State / County <span class="required">*</span></label>
                                                <input placeholder="" type="text" id="state" name="state">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Postcode / Zip <span class="required">*</span></label>
                                                <input placeholder="" id="zipcode" name="zipcode" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Phone <span class="required">*</span></label>
                                                <input type="text" id="phoneNumber" name="phoneNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="country-select">
                                                <label>Delivery Method<span class="required">*</span></label>
                                                <select class="myniceselectTest  wide rounded-0" id="deliveryMethod" name="deliveryMethod">
                                                    <option value="0" data-price="0">Select Delivery method</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="country-select clearfix">
                                                <label>Payment method <span class="required">*</span></label>
                                                <select name="paymentMethod" id="paymentMethod" class="myniceselect nice-select wide rounded-0">
                                                    <option data-display="Payment on Delivery" value="0">Payment on Delivery</option>
                                                    <option value="1">Online Payment</option>
                                                    <option value="2">Bank Transfer</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="order-button-payment">
                                    <input value="Place order" id="place_order" type="button">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="completed-transaction" class="coupon-checkout-content">
                        <div class="coupon-info">
                           <h3 id='msg'></h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody id="checkoutitems">
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td class="text-center">₦ <span class="checkoutTotal"></span></td>
                                </tr>

                                <tr class="order-total">
                                    <th>Shipping Cost</th>
                                    <td class="text-center"><strong>₦ <span class="shippingAmount"></span></strong></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td class="text-center"><strong>₦ <span class="totalAmount"></span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    @*<div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="#payment-1">
                                        <h5 class="panel-title mb-2">
                                            <a href="#" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Direct Bank Transfer.
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body mb-2 mt-2">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-2">
                                        <h5 class="panel-title mb-2">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Cheque Payment
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body mb-2 mt-2">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-3">
                                        <h5 class="panel-title mb-2">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body mb-2 mt-2">
                                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


@section FooterScripts
{
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="~/js/checkout.js"></script>
    <script type="text/javascript">
        @*$('#pay').on('click', function (e) {
            e.preventDefault();
            payWithPaystack();
        });*@
        //paymentForm.addEventListener('submit', payWithPaystack, false);

       
    </script>

}