@{
    ViewData["Title"] = "Shop ";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

<div class="shop-main-area">
    <div class="container container-default custom-area">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12 col-custom widget-mt">
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                        <!-- <button data-role="grid_4" type="button"  class=" btn-grid-4" data-toggle="tooltip" title="4"></button> -->
                        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                    </div>
                    <div class="shop-select">
                        <form class="d-flex flex-column w-100" action="#">
                            <div class="form-group">
                                <select class="form-control nice-select w-100">
                                    <option selected value="1">Alphabetically, A-Z</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by newness</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!-- Shop Wrapper Start -->
                <div class="row shop_wrapper grid_3" id="shop_wrapper">
                    
                </div>
                <!-- Shop Wrapper End -->
                <!-- Bottom Toolbar Start -->
                <div class="row">
                    <div class="col-sm-12 col-custom">
                        <div class="toolbar-bottom mt-30">
                            <nav class="pagination pagination-wrap mb-10 mb-sm-0">
                                <ul class="pagination" id="pagination">
                                    @*<li class="disabled prev">
                                            <i class="ion-ios-arrow-thin-left"></i>
                                        </li>
                                        <li class="active"><a>1</a></li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li class="next">
                                            <a href="#" title="Next >>"><i class="ion-ios-arrow-thin-right"></i></a>
                                        </li>*@
                                </ul>
                            </nav>
                            <p class="desc-content text-center text-sm-right" id="pagination-content"></p>
                        </div>
                    </div>
                </div>
                <!-- Bottom Toolbar End -->
            </div>
            <div class="col-lg-3 col-12 col-custom">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget widget-mt">
                    <div class="widget_inner">
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Search</h3>
                            <div class="search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search-input" placeholder="Search Our Store" aria-label="Search Our Store">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="search-btn" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Menu Categories</h3>-->
                        <!-- Widget Menu Start -->
                        <!--<nav>
                            <ul class="mobile-menu p-0 m-0">
                                <li class="menu-item-has-children">
                                    <a href="#">Breads</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Skateboard (02)</a></li>
                                        <li><a href="#">Surfboard (4)</a></li>
                                        <li><a href="#">Accessories (3)</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Fruits</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Samsome</a></li>
                                        <li><a href="#">GL Stylus (4)</a></li>
                                        <li><a href="#">Uawei (3)</a></li>
                                        <li><a href="#">Avocado (3)</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Vagetables</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Power Bank</a></li>
                                        <li><a href="#">Data Cable (4)</a></li>
                                        <li><a href="#">Avocado (3)</a></li>
                                        <li><a href="#">Brocoly (3)</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Organic Food</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Vagetables</a></li>
                                        <li><a href="#">Green Food (4)</a></li>
                                        <li><a href="#">Coconut (3)</a></li>
                                        <li><a href="#">Cabage (3)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>-->
                        <!-- Widget Menu End -->
                        <!--</div>-->
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">Categories</h3>
                            <div class="sidebar-body">
                                <ul class="sidebar-list" id="sidebar-categories">
                                    <li><a asp-action="Index" asp-controller="Shop">All Product</a></li>

                                </ul>
                            </div>
                        </div>
                        
                        <div class="widget-list widget-mb-3">
                            <h3 class="widget-title">Brands</h3>
                            <div class="sidebar-body">
                                <ul class="sidebar-list" id="sidebar-brands">
                                </ul>
                            </div>
                        </div>
                        <div class="widget-list widget-mb-4">
                            <h3 class="widget-title">Recent Products</h3>
                            <div class="sidebar-body" id="sidebar-products">
                                
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>

<!-- Modal Area Start Here -->
<div class="modal fade obrien-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
                <span class="close-icon" aria-hidden="true">x</span>
            </button>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section FooterScripts
{
    <script src="~/js/shop.js"></script>
   
}